---
import { getCollection } from 'astro:content'
import Project from './Project.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const projects = await getCollection('projects')
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section id='Projects' class='pt-28'>
  <h3 class='text-3xl -translate-x-4 font-semibold mb-6'>
    <span class='text-4xl font-medium'>&lt;/&gt;</span>
    {t('Projects.h3')}
  </h3>
  <div class='border-l-3 border-white pl-12 flex flex-col gap-y-18'>
    {
      projects.map(project => {
        const { data } = project
        return <Project project={data} key={project.id} />
      })
    }
  </div>
</section>
