<section id='Title' class='flex flex-col gap-12 items-center justify-center'>
  <div class='flex flex-row items-baseline justify-start gap-6'>
    <img
      src='https://unavatar.io/meiduko'
      alt=''
      class='size-24 rounded-full'
    />
    <h1 class='text-6xl font-semibold tracking-tight -translate-y-3'>
      Hi, I'm Meiduko
    </h1>
  </div>
  <p class='text-xl md:text-3xl text-pretty tracking-wide'>
    <span class='text-yellow-400 font-medium'> +2 years</span>
    studying front-end web programming with the most popular tools. I strive to tackle
    any challenge in the most creative and efficient way possible.
  </p>
</section>
