---
import '@/styles/global.css'
const currentLocale = Astro.currentLocale
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<!doctype html>
<html lang={currentLocale} data-theme='dark'>
  <head>
    <meta charset='UTF-8' />
    <title>{t('Title')}</title>
    <meta name='description' content={t('Description')} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <script>
      import { setLang } from '@/utils/select_language'
      import { setTheme } from '@/utils/select_theme'
      setLang()
      setTheme()
    </script>
  </head>
  <body class='dark:bg-[#080616] bg-[#aaa] dark:text-white text-gray-800'>
    <slot />
  </body>
</html>
