---
import SEO from '@/components/SEO.astro'
import '@/styles/global.css'
const currentLocale = Astro.currentLocale
---

<!doctype html>
<html lang={currentLocale} data-theme='dark'>
  <head>
    <meta charset='UTF-8' />
    <SEO />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <script>
      import { setLang } from '@/utils/select_language'
      import { setTheme } from '@/utils/select_theme'
      setLang()
      setTheme()
    </script>
  </head>
  <body class='dark:bg-[#080616] bg-[#aaa] dark:text-white text-gray-800'>
    <slot />
  </body>
</html>
