---
import '@/styles/global.css'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Porfolio de Meiduko</title>
  </head>
  <body class='dark:bg-[#080616] bg-[#555] dark:text-white text-black'>
    <slot />
  </body>
</html>
